# Exported functions
export(aucJM, anova.jointModel, coef.jointModel, crLong, dbs, dns, dynCJM, fitted.jointModel, fixef.jointModel, jointModel, 
	ibs, ins, piecewiseExp.ph, plot.jointModel, plot.survfitJM, prederrJM, predict.jointModel, ranef.jointModel, 
	residuals.jointModel, rocJM, simulateJM, simulate.jointModel, survfitJM, wald.strata, weibull.frailty, 
	xtable.jointModel)

# Imported functions
importFrom(nlme, fixed.effects)
importFrom(nlme, fixef)
importFrom(nlme, random.effects)
importFrom(nlme, ranef)
importFrom(stats, simulate, makepredictcall)
importFrom(survival, survfit)
importFrom(survival, coxph)
importFrom(survival, survreg)
importFrom(survival, basehaz)
importFrom(splines, ns)
importFrom(splines, bs)
importFrom(splines, splineDesign)
importFrom(MASS, mvrnorm)
importFrom(MASS, ginv)

# S3 methods
S3method(anova, jointModel)
S3method(aucJM, jointModel)
S3method(aucJM, coxph)
S3method(coef, jointModel)
S3method(coef, summary.jointModel)
S3method(coef, weibull.frailty)
S3method(confint, jointModel)
S3method(dynCJM, jointModel)
S3method(dynCJM, coxph)
S3method(fitted, jointModel)
S3method(fixef, jointModel)
S3method(logLik, jointModel)
S3method(logLik, weibull.frailty)
S3method(makepredictcall, dbs)
S3method(makepredictcall, dns)
S3method(makepredictcall, ibs)
S3method(makepredictcall, ins)
S3method(plot, jointModel)
S3method(plot, rocJM)
S3method(plot, survfitJM)
S3method(predict, jointModel)
S3method(prederrJM, jointModel)
S3method(prederrJM, coxph)
S3method(print, aov.jointModel)
S3method(print, aucJM)
S3method(print, dynCJM)
S3method(print, prederrJM)
S3method(print, jointModel)
S3method(print, rocJM)
S3method(print, summary.jointModel)
S3method(print, summary.weibull.frailty)
S3method(print, survfitJM)
S3method(print, weibull.frailty)
S3method(print, wald.strata)
S3method(ranef, jointModel)
S3method(residuals, jointModel)
S3method(simulate, jointModel)
S3method(summary, jointModel)
S3method(survfitJM, jointModel)
S3method(summary, weibull.frailty)
S3method(vcov, jointModel)
S3method(vcov, weibull.frailty)

